Repository Liatoshynsky-Foundation/lf-client, pull requests merged in 2025-05, with the labels that each got.

#61 Increase test coverage
  jest.config.ts
Labels: hotfix, config

#63 hotfix(config): fix problem with tests through jest.config
  app/[lang]/about-us/__snapshots__/page.test.tsx.snap
  app/[lang]/about-us/page.test.tsx
  app/[lang]/page.test.tsx
  jest.config.ts
Labels: hotfix, config, test

#62 (SP: 1) Implement Footer Bottom Section with Legal and Info Links
  app/[lang]/layout.tsx
  app/components/Footer.tsx
  app/components/Footer/Footer.test.tsx
  app/components/Footer/Footer.tsx
  app/components/Footer/FooterCopyrights/FooterCopyrights.styles.ts
  app/components/Footer/FooterCopyrights/FooterCopyrights.test.tsx
  app/components/Footer/FooterCopyrights/FooterCopyrights.tsx
  public/Bullet-icon.svg
Labels: frontend, UI/UX, feature, test

#65 (SP: 3) Implement Locale-based Routing and Middleware
  app/constants/index.ts
  app/lib/i18n/utils.test.ts
  app/lib/i18n/utils.ts
  app/lib/utils/cookies.test.ts
  app/lib/utils/cookies.ts
  app/url-locale-middleware.test.ts
  app/url-locale-middleware.ts
  jest.config.ts
  middleware.ts
  tsconfig.json
Labels: frontend, feature, config, middleware

#76 fix: Forgot to add ' ; '
  app/url-locale-middleware.ts
  middleware.ts
Labels: bug, hotfix, middleware

#78 (SP: 0,5) Hotfix all lint errors
  app/[lang]/page.test.tsx
  app/[lang]/page.tsx
  app/lib/utils/cookies.test.ts
Labels: bug, hotfix

#75 (SP:) Add dependabot
  .github/dependabot.yml
Labels: DevOps, dependencies, dependabot

#120 Changed quotes from double to single for Slider component #56
  app/components/Slider/Slider.styles.ts
  app/components/Slider/Slider.test.tsx
  app/components/Slider/Slider.tsx
Labels: frontend, design system

#122 Fix for wrong indents #56
  app/components/Slider/Slider.tsx
Labels: hotfix

#134 Fixed 'PersonalCard' tests
  app/components/design-system/PersonCard/PesonalCard.test.tsx
Labels: hotfix

#137 Increased coverage for Slider component, fix for failed build
  app/components/Checkbox/Checkbox.spec.tsx
  app/components/design-system/Slider/Slider.styles.ts
  app/components/design-system/Slider/Slider.test.tsx
  app/components/design-system/Slider/Slider.tsx
  app/constants/index.ts
  app/constants/typography.ts
Labels: hotfix

#132 Added folder structure described in readme and agreed upon on meetings
  app/[lang]/layout.tsx
  app/api/.gitkeep
  app/db/.gitkeep
  app/middleware/url-locale-middleware.test.ts
  app/middleware/url-locale-middleware.ts
  app/model/.gitkeep
  app/shared/components/Footer/Footer.test.tsx
  app/shared/components/Footer/Footer.tsx
  app/shared/components/Footer/FooterCopyrights/FooterCopyrights.styles.ts
  app/shared/components/Footer/FooterCopyrights/FooterCopyrights.test.tsx
  app/shared/components/Footer/FooterCopyrights/FooterCopyrights.tsx
  app/shared/components/Header.tsx
  app/shared/components/design-system/all-components/checkbox/Checkbox.spec.tsx
  app/shared/components/design-system/all-components/checkbox/Checkbox.styles.ts
  app/shared/components/design-system/all-components/checkbox/Checkbox.tsx
  app/shared/components/design-system/all-components/dropdown-menu/DropdownMenu.style.ts
  app/shared/components/design-system/all-components/dropdown-menu/DropdownMenu.test.tsx
  app/shared/components/design-system/all-components/dropdown-menu/DropdownMenu.tsx
  app/shared/components/design-system/all-components/logo/Logo.test.tsx
  app/shared/components/design-system/all-components/logo/Logo.tsx
  app/shared/components/design-system/all-components/person-card/PersonCard.styles.ts
  app/shared/components/design-system/all-components/person-card/PersonCard.tsx
  app/shared/components/design-system/all-components/person-card/PesonalCard.test.tsx
  app/shared/components/design-system/all-components/slider/Slider.styles.ts
  app/shared/components/design-system/all-components/slider/Slider.test.tsx
  app/shared/components/design-system/all-components/slider/Slider.tsx
  middleware.ts
Labels: config

#90 Implemented Footer contact info block
  app/api/.gitkeep
  app/constants/typography.ts
  app/lib/utils/cookies.test.ts
  app/shared/components/Footer/Footer.test.tsx
  app/shared/components/Footer/Footer.tsx
  app/shared/components/Footer/FooterContactInfo/FooterContactInfo.styles.ts
  app/shared/components/Footer/FooterContactInfo/FooterContactInfo.test.tsx
  app/shared/components/Footer/FooterContactInfo/FooterContactInfo.tsx
  app/shared/components/Footer/FooterCopyrights/FooterCopyrights.test.tsx
  app/shared/components/Footer/FooterCopyrights/FooterCopyrights.tsx
  app/shared/hooks/is-mobile/useIsMobile.jsx
  app/shared/hooks/is-mobile/useIsMobile.test.jsx
  public/check-icon.svg
  public/copy-icon.svg
Labels: frontend, UI/UX, feature

#121 Imlement logger and db connect
  .env.example
  README.md
  app/config/index.test.ts
  app/config/index.ts
  app/constants/errors.ts
  app/constants/index.ts
  app/db/connect.ts
  app/db/connects.test.ts
  app/middleware/logger/logger.test.ts
  app/middleware/logger/logger.ts
  package-lock.json
  package.json
Labels: documentation, backend, feature, config, dependencies

#116 Audio Player UI Integration in Header #40
  app/[lang]/layout.tsx
  app/lib/utils/audioPlayer.test.ts
  app/lib/utils/audioPlayer.ts
  app/shared/components/Header.tsx
  app/shared/components/Header/AudioPlayer/AudioPlayer.styles.ts
  app/shared/components/Header/AudioPlayer/AudioPlayer.test.tsx
  app/shared/components/Header/AudioPlayer/AudioPlayer.tsx
  app/shared/components/Header/AudioPlayer/AudioPlayerPopover/AudioPlayerPopover.styles.ts
  app/shared/components/Header/AudioPlayer/AudioPlayerPopover/AudioPlayerPopover.test.tsx
  app/shared/components/Header/AudioPlayer/AudioPlayerPopover/AudioPlayerPopover.tsx
  app/shared/components/Header/Header.tsx
  public/icons/audio-play-circle-icon.svg
  public/icons/pause-icon.svg
  public/icons/play-icon.svg
Labels: frontend, UI/UX, feature, test

#147 Feature/55/tooltip component
  app/[lang]/layout.tsx
  app/shared/components/design-system/all-components/tooltip/Tooltip.styles.ts
  app/shared/components/design-system/all-components/tooltip/Tooltip.test.tsx
  app/shared/components/design-system/all-components/tooltip/Tooltip.tsx
Labels: feature, design system

#142 (SP: 5) Add Git-hooks and CI for ESLint, Tests, Docker and write Report
  .github/workflows/ci-pr-to-develop.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  app/[lang]/biography/page.test.tsx
  app/[lang]/layout.tsx
  app/[lang]/media-about-us/page.test.tsx
  app/constants/index.ts
  app/shared/components/Footer/FooterContactInfo/FooterContactInfo.tsx
  app/shared/components/Header/AudioPlayer/AudioPlayerPopover/AudioPlayerPopover.tsx
  app/shared/components/design-system/all-components/icon-button/IconButton.tsx
  package-lock.json
  package.json
  prettier.config.js
Labels: backend, validation, config, test, DevOps

#139 Implemented Footer navigation links #20
  app/shared/components/Footer/Footer.tsx
  app/shared/components/Footer/FooterNavigation/FooterNavigation.styles.ts
  app/shared/components/Footer/FooterNavigation/FooterNavigation.test.tsx
  app/shared/components/Footer/FooterNavigation/FooterNavigation.tsx
Labels: frontend, feature

#136 Implemented button component
  app/shared/components/design-system/all-components/button/Button.styles.ts
  app/shared/components/design-system/all-components/button/Button.test.tsx
  app/shared/components/design-system/all-components/button/Button.tsx
Labels: frontend, UI/UX, feature, design system
